In [1]:
import pandas as pd
import numpy as np

The dataset for the remainder of this quiz is the Appliances Energy Prediction data. The data set is at 10 min for about 4.5 months. The house temperature and humidity conditions were monitored with a ZigBee wireless sensor network. Each wireless node transmitted the temperature and humidity conditions around 3.3 min. Then, the wireless data was averaged for 10 minutes periods. The energy data was logged every 10 minutes with m-bus energy meters. Weather from the nearest airport weather station (Chievres Airport, Belgium) was downloaded from a public data set from Reliable Prognosis (rp5.ru), and merged together with the experimental data sets using the date and time column. Two random variables have been included in the data set for testing the regression models and to filter out non predictive attributes (parameters). The attribute information can be seen below.

Attribute Information:

Date, time year-month-day hour:minute:second

Appliances, energy use in Wh

lights, energy use of light fixtures in the house in Wh

T1, Temperature in kitchen area, in Celsius

RH_1, Humidity in kitchen area, in %

T2, Temperature in living room area, in Celsius

RH_2, Humidity in living room area, in %

T3, Temperature in laundry room area

RH_3, Humidity in laundry room area, in %

T4, Temperature in office room, in Celsius

RH_4, Humidity in office room, in %

T5, Temperature in bathroom, in Celsius

RH_5, Humidity in bathroom, in %

T6, Temperature outside the building (north side), in Celsius

RH_6, Humidity outside the building (north side), in %

T7, Temperature in ironing room , in Celsius

RH_7, Humidity in ironing room, in %

T8, Temperature in teenager room 2, in Celsius

RH_8, Humidity in teenager room 2, in %

T9, Temperature in parents room, in Celsius

RH_9, Humidity in parents room, in %

To, Temperature outside (from Chievres weather station), in Celsius

Pressure (from Chievres weather station), in mm Hg

RH_out, Humidity outside (from Chievres weather station), in %

Wind speed (from Chievres weather station), in m/s

Visibility (from Chievres weather station), in km

Tdewpoint (from Chievres weather station), Â °C

rv1, Random variable 1, nondimensional

rv2, Random variable 2, nondimensional

To answer some questions, you will need to normalize the dataset using the MinMaxScaler after removing the following columns: [“date”, “lights”]. The target variable is “Appliances”. Use a 70-30 train-test set split with a random state of 42 (for reproducibility). Run a multiple linear regression using the training set and evaluate your model on the test set.

In [9]:
df = pd.read_csv('energydata_complete.csv')
df.head(5)

                  date  Appliances  lights  ...  Tdewpoint        rv1        rv2
0  2016-01-11 17:00:00          60      30  ...        5.3  13.275433  13.275433
1  2016-01-11 17:10:00          60      30  ...        5.2  18.606195  18.606195
2  2016-01-11 17:20:00          50      30  ...        5.1  28.642668  28.642668
3  2016-01-11 17:30:00          50      40  ...        5.0  45.410389  45.410389
4  2016-01-11 17:40:00          60      40  ...        4.9  10.084097  10.084097

[5 rows x 29 columns]

In [10]:
target = df['Appliances'].copy()
df_new = df.drop(['date', 'lights'], axis=1)

In [11]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
normalized_df = scaler.fit_transform(df_new)

In [12]:
normalized_df = pd.DataFrame(normalized_df, columns=df_new.columns)
normalized_df.head()

   Appliances       T1      RH_1  ...  Tdewpoint       rv1       rv2
0    0.046729  0.32735  0.566187  ...   0.538462  0.265449  0.265449
1    0.046729  0.32735  0.541326  ...   0.533937  0.372083  0.372083
2    0.037383  0.32735  0.530502  ...   0.529412  0.572848  0.572848
3    0.037383  0.32735  0.524080  ...   0.524887  0.908261  0.908261
4    0.046729  0.32735  0.531419  ...   0.520362  0.201611  0.201611

[5 rows x 27 columns]

In [13]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(normalized_df.drop(['Appliances'], axis=1),
                                                   normalized_df['Appliances'], test_size=0.3, random_state=42)

X_train.size, X_test.size, y_train.size, y_test.size

(359164, 153946, 13814, 5921)

### Question 12


From the dataset, fit a linear model on the relationship between the temperature in the living room in Celsius (x = T2) and the temperature outside the building (y = T6). What is the R^2 value in two D.P?

In [14]:
from sklearn.linear_model import LinearRegression

train_x_12 = X_train.T2.values.reshape(-1, 1)
y_train_12 = X_train.T6.values.reshape(-1, 1)

test_x_12 = X_test.T2.values.reshape(-1, 1)
y_test_12 = X_test.T6.values.reshape(-1, 1)

lr = LinearRegression().fit(train_x_12, y_train_12)
lr_predict = lr.predict(test_x_12)

In [15]:
from sklearn.metrics import r2_score

print(round(r2_score(y_test_12, lr_predict), 2))

0.64

### Question 13

What is the MAE (in 2 decimal places)?

In [17]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(normalized_df.drop(['Appliances'], axis=1),
                                                    normalized_df['Appliances'], test_size=0.3, random_state=42)

X_train.size, X_test.size, y_train.size, y_test.size

(359164, 153946, 13814, 5921)

In [18]:
from sklearn.linear_model import LinearRegression

lr = LinearRegression()
lr.fit(X_train, y_train)
lr_pred = lr.predict(X_test)

In [19]:
from sklearn.metrics import mean_absolute_error

print(round(mean_absolute_error(y_test, lr_pred), 2))

0.05

### Question 14

What is the Residual Sum of Squares (in two decimal places)?

In [20]:
print(round(np.sum(np.square(y_test - lr_pred)), 2))

45.35

### Question 15

What is the Root Mean Squared Error (in three decimal places)?

In [23]:
from sklearn.metrics import mean_squared_error

round(mean_squared_error(y_test, lr_pred, squared=False), 3)

0.088

### Question 16

What is the Coefficient of Determination (in two decimal places)?

In [22]:
round(r2_score(y_test, lr_pred), 2)

0.15

### Question 17

Obtain the feature weights from your linear model above. Which features have the lowest and highest weights respectively?

In [37]:
weights = pd.Series(lr.coef_, X_train.columns).sort_values()
weights_df = pd.DataFrame(weights).reset_index()
weights_df.columns = ['Feature', 'Weight']

weights_df

        Feature    Weight
0          RH_2 -0.456698
1         T_out -0.321860
2            T2 -0.236178
3            T9 -0.189941
4          RH_8 -0.157595
5        RH_out -0.077671
6          RH_7 -0.044614
7          RH_9 -0.039800
8            T5 -0.015657
9            T1 -0.003281
10          rv1  0.000770
11          rv2  0.000770
12  Press_mm_hg  0.006839
13           T7  0.010319
14   Visibility  0.012307
15         RH_5  0.016006
16         RH_4  0.026386
17           T4  0.028981
18    Windspeed  0.029183
19         RH_6  0.038049
20         RH_3  0.096048
21           T8  0.101995
22    Tdewpoint  0.117758
23           T6  0.236425
24           T3  0.290627
25         RH_1  0.553547

### Question 18

Train a ridge regression model with an alpha value of 0.4. Is there any change to the root mean squared error (RMSE) when evaluated on the test set?

In [26]:
from sklearn.linear_model import Ridge
from sklearn.metrics import mean_squared_error

ridge = Ridge(alpha=0.4)
ridge.fit(X_train, y_train)
pred = ridge.predict(X_test)

round(mean_squared_error(y_test, pred, squared=False), 3)

0.088

### Question 19

Train a lasso regression model with an alpha value of 0.001 and obtain the new feature weights with it. How many of the features have non-zero feature weights?

In [27]:
from sklearn.linear_model import Lasso

lasso = Lasso(alpha=0.001)

In [28]:
lasso.fit(X_train, y_train)
y_pred = lasso.predict(X_test)

In [36]:
weights = pd.Series(lasso.coef_, X_train.columns).sort_values()
weights_df = pd.DataFrame(weights).reset_index()
weights_df.columns = ['Feature', 'Weight']

weights_df.query("Weight != 0")

      Feature    Weight
0      RH_out -0.049557
1        RH_8 -0.000110
24  Windspeed  0.002912
25       RH_1  0.017880

### Question 20

In [30]:
print(round(mean_squared_error(y_pred, y_test, squared=False), 3))

0.094